body{
    background-color: white;
    font-family: 'Inter' , sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    padding-left: 250px;
    background-color: white;
    box-shadow: 0 2px 5px  rgba(0,0,0,0.5);
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 100px;

}


.brand {
  font-size: 20px;
  color: #387ed1;
  font-weight: 550;
  font-style: 'Inter' , sans-serif;
  
}

.right {
  display: flex;
  gap: 30px;
  padding-right: 100px;
  margin-right: 100px;
  
}


.topLink{
    cursor: pointer;
    color: gray;


}

.topLink:hover {
    color: #387ed1;
}

.hamburger{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  font-family: sans-serif;
}

.hero-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
}

.hero-button {
  background-color: #0074ff;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}